@page "/Example"

<h3>Example</h3>

<h1>Test</h1>

<table >
    <tr>
        <th>First</th>
        <th>Second</th>
        <th>Third</th>
    </tr>
    <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>
</table>

<br />
<br />
<br />
<br />

<select >
    <option value="selectedColumn">Item1</option>
    <option value="selectedColumn">Item2</option>
    <option value="selectedColumn">Item3</option>

</select>



@code {
    //Add these to the html tag to see the bootstrap styling!
    //class="table table-dark table-striped"
    //class="form-select" multiple
}
